
body {
    background-color: #dadada;
    color: #444;
}

h1,h2, h3, h4 {
    color: #222;
}

nav {
    background-color: #0084ec;
    padding: 1em;
    margin: 1em 0 2em 0;
    border-radius: 0 50px 50px 0;
    border: solid #FFF;
    border-width: 3px 3px 3px 0;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.56);
    color: #FFF;
    width: 95%;
}

nav > a.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase; 
    font-size: 300%;
    margin: 0 auto;
}

ul.navbar-nav {
    margin: 0 auto;
    text-align: center;
}

ul.navbar-nav a {
    text-transform: uppercase;
}

ul.navbar-nav li:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}
    
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#content-container h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 300%;
    text-align: right;
    color: #0084ec;
}

#content-container img {
    width: 300px;
    margin: 0 0 1em 0;
}

.social-icon {
    width: 100px;
    transition: all 0.5s linear;
}

.social-icon:hover {
    transform: rotate(45deg);
}

.losContainers {
    background-color: #FFF;
    text-align: center;
    border: solid #0084ec;
    border-width: 10px 0 0 0;
    padding: 1em;
    margin-bottom: 1em;
}

#social-container h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
    color: #0084ec;
}

.container {
    margin-top: 5em;
}

#portfolio-container {
    padding: 0 0 1em 0;
}
.portfolio-item {
    height: 200px;
    background-color: teal;
    margin: 0 auto 1em auto;
    position: relative;
    opacity: 0.3;
    transition: all 1s linear;
}

.portfolio-item:hover {
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: scale(1.5);
}

.portfolio-label {
    background-color: #FF9A00;
    padding: 0.3em;
    position: absolute;
    width: 100%;
    top: 65%;
    color: #FFF;
}

.p1 {
    background: teal url('../assets/space01.jpg')  no-repeat;
    background-size: cover;
}

.p2 {
    background: teal url('../assets/space02.jpg') no-repeat;
    background-size: cover;
}

.p3 {
    background: teal url('../assets/space03.jpg') no-repeat;
    background-size: cover;
}

.p4 {
    background: teal url('../assets/jean-paul02.png') center no-repeat;
    background-size: cover;
}

.p5 {
    background: teal url('../assets/space05.jpg') no-repeat;
    background-size: cover;
}

form label {
    display: none;
}

form input:not([type="submit"]),
form textarea {
    display: block;
    margin: 1em auto 0 auto;
    width: 90%;
    border: 3px solid #999;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 35px;
    font-size: 16px;
}

form input:focus,
form textarea:focus {
    outline: none;
}

form textarea {
    margin-bottom: 1em;
    height: 150px;
}

form input[type="submit"] {
    background-color: #FFF;
    border: 5px solid #0084EC;
    padding: 0 1.5em 0 1.5m;
    border-radius: 35px;
    font-size: 16px;
    color: #0084EC;
    width: 7em;
    margin: 1em 0 1em 0;
}

form input[type="submit"]:hover {
    background-color: #0084EC;
    color: #FFF;
}
